.column1 {
  width: 300px;
  float: left;
  font-style: italic;
  font-size: 17px;
}
 

  .column1 p {
    background-color: violet;
  }



.column2 {
  width: 300px;
  float: left;
  font-style: italic;
  font-size: 17px;
}

.column2 p {
  background-color: orange;
}

.column3 {
  width: 300px;
  float: left;
  font-style: italic;
  font-size: 17px;
}

.column3 p {
  background-color: lightblue;
}

@media screen and (max-width: 480px) and (min-width: 300px) {
  body {
    background-color: black;
    color: white;
  }   
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  body {
    background-color: teal;
    color: white;
  }
}